
.Search{
  width: 100%;
  overflow: hidden;
  clear: both;
  .SearchIn{
    width:1190px;
    margin: 0 auto;
    overflow:hidden;
    height: 50px;
    line-height: 50px;
    background-color: #f6f6f6;
    color:#333;
    text-align: center;
  }

}
