@import "./theme.scss";

* {
	margin: 0;
	padding: 0;
}

.c-loading{
	padding: 100px;
	text-align: center;
	font-size: 25px;
}
.ml5{
	margin-left: 5px !important;
}
.ml10{
	margin-left: 10px !important;
}
.ml15{
	margin-left: 15px !important;
}
.ml20{
	margin-left: 20px !important;
}