@import "../../styles/theme.scss";

.Header{
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid #e6e6e6;
  background-color: #f6f6f6;
  clear: both;
  .Top{
    width: 1190px;
    margin:0 auto;
    overflow: hidden;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    color:  #666666;
  }
}
