@import '../../styles/common';

.Top, .footer {
	width: 100%;
	background: #ececec;
	line-height: 30px;
	overflow: hidden;
}

.detail {
	width: 100%;
	overflow: hidden;
	clear: both;

	.detailIn {
		width: 1190px;
		overflow: hidden;
		margin: 0 auto;
		clear: both;

		.detailIn-left {
			float: left;
			overflow: hidden;
			width: 200px;
			height: 200px;
		}

		.detailIn-right {
			width: 530px;
			float: left;
			overflow: hidden;

			.detailIn-tip {
				width: 100%;
				border: 1px solid #e2e2e2;

				.description{
					font-size: 16px;
					font-weight: 700;
					color: #000;
					display: -webkit-box;
					-webkit-box-orient: vertical;
					-webkit-line-clamp: 2;
					overflow: hidden;
				}
				.introduce{
					font-size: 14px;
    				color: #FF0036;
    				
				}

			}

		}

	}

}
